.info {
    margin: 10px;
}

main {
    text-align: center;
    width: 100%;
}

label {
    margin-right: 5px;
}

.loginForm{
    font-size: 17px;
}

.incorrectInfo {
    color: red;
    text-align: center;
}