.dashboardPage {
    padding-top: 2%;
    padding-left: 5%;
    padding-right: 5%;
    text-align: center;

}

.noData {
    color: red;
    margin-bottom: 30px;
    margin-top: 30px;
}

.charts {
    margin-left: 22.5%;
    width: 50%;
    
}

.chartsElement {
    margin-top: 3%;
    margin-bottom: 20%;
}

table {
    text-align: center;
    border: 2px solid #328b79;
    width: 100%;
    max-width: 100%;
    border-collapse: collapse;
    font-size: 0.9em;
    font-family: sans-serif;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

h4 {
    color: black;
}